html {
  scroll-behavior: smooth;
}

  body {
    background-color: darksalmon;
  }
  
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: maroon;
  }
  
  .navBar {
    list-style-type: none;
    overflow: hidden;
    font-family: "Helvetica";
    height: 4vw;
    position: sticky;
    top:0;
    background-color: lavenderblush;
    margin-right: -1%;
    margin-left: -1%;
    margin-top: -1%;
  }
  
  .navBullet {
    font-size: 1.5vw;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    float: right;
  }
  
  .homePage {
    color: lavenderblush;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 10vw;
    text-align: right;
    margin-right: 5vw;
    height: 100vw;
  }
  
  hr.divider{
    border-top: 1px solid #8c8b8b;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  
  .aboutMePage {
    background-color: darksalmon;
    color: lavenderblush;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;
    text-align: Left;
    
    height: 100vw;
    padding: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .projectsPage {
    background-color: darksalmon;
    color: lavenderblush;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;
    text-align: Left;
    
    height: 100vw;
    padding: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .contactPage {
    background-color: darksalmon;
    color: lavenderblush;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 5vw;
    text-align: Left;
    
    padding: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
  }

.contactText {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 1vw;
  padding: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
}