body {
  background-color: DarkSeaGreen;
}

.navBar {
  column-width: 11vw;
  color: Black;
  font-family: "Courier New";
  font-size: 2vw;
  text-align: right;
  height: 4vw;
  position: sticky;
  top:0;
  background-color: DarkSeaGreen;
}

.homePage {
  color: Black;
  font-family: "Courier New";
  font-size: 5vw;
  text-align: center;
  
  background-color: CornSilk;
  height: 100vw;
  padding: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.aboutMePage {
  background-color: LightCoral;
  color: Black;
  font-family: "Courier New";
  font-size: 5vw;
  text-align: center;
  
  height: 100vw;
  padding: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.projectsPage {
  background-color: SandyBrown;
  color: Black;
  font-family: "Courier New";
  font-size: 5vw;
  text-align: center;
  
  height: 100vw;
  padding: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.contactsPage {
  background-color: Khaki;
  color: Black;
  font-family: "Courier New";
  font-size: 5vw;
  text-align: center;
  
  height: 100vw;
  padding: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
