body {
  background-color: DarkSeaGreen;
}

.navBar {
  column-width: 8vw;
  color: Black;
  font-family: "Courier New";
  font-size: 1vw;
  margin-left: 50vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  position: sticky;
  top:0;
  background-color: DarkSeaGreen;
}

.title {
  color: Black;
  font-family: "Courier New";
  font-size: 3vw;
  text-align: left;
  margin-left: 2vw;
  margin-top: 2vw;
  float: left;
}

.titleText {
  color: Black;
  font-family: "Courier New";
  font-size: 5vw;
  text-align: center;
  
  background-color: CornSilk;
  width: 50vw;
  height: 100vw;
  padding: 2vw;
  margin-left: 43vw;
}

.aboutMePage {
  background-color: LightCoral;
  height: 50vw;
  color: Black;
  font-family: "Courier New";
  font-size: 3vw;
  text-align: left;
}

.projectsPage {
  background-color: SandyBrown;
  height: 50vw;
  color: Black;
  font-family: "Courier New";
  font-size: 3vw;
  text-align: left;
}

.contactsPage {
  background-color: Khaki;
  height: 50vw;
  color: Black;
  font-family: "Courier New";
  font-size: 3vw;
  text-align: left;
}
